#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#servers {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#servers td,
#servers th {
    border: 1px solid rgb(197, 226, 253);
    padding: 8px;
}

#servers tr:nth-child(even) {
    background-color: #d9e5ff;
}

#servers tr:hover {
    background-color: #ddd;
}

#servers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(52, 118, 240);
    color: white;
}
